:root{
    --cor-de-fundo: #F5F4F0;
    --cor-borda: #D9D9D9;
    --cor-primaria: #1B1B1B;
    --cor-secundaria: #333333;
    --cor-terciaria: #696969;
    --cor-headline: #E1624F;
    --cor-accent-blue: #0C51A7;
    --cor-accent-orange: #E95E10;
    --cor-accent-pink: #E5245E;
    --cor-accent-purple: #591B98;
}

body{
    background-color: var(--cor-de-fundo);
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin: 0;
}

#page{
    box-sizing: border-box;
    width: 1120px;
    background-color: var(--cor-da-superficie);
    border-radius: 24px;
    margin: 40px auto;
}

hr{
    margin: 40px 0;
    color: var(--cor-borda);
}

.headline{
    color: var(--cor-headline);
    font-size: 16px;
    font-weight: bold;
}

h1{
    color: var(--cor-primaria);
    font-size: 36px;
    font-weight: bold;
    margin: 8px 0px 40px;
}

.description-image{
    border-radius: 16px;
    width: 1120px;
    height: 660px;
}

.description-text{
    color: var(--cor-secundaria);
    font-size: 16px;
    font-style: italic;
    text-align: center;
    margin-bottom: 40px;
}

h2{
    color: var(--cor-primaria);
    font-size: 32px;
    font-weight: bold;
}

p{
    color: var(--cor-secundaria);
    font-size: 16px;
    font-weight: normal;
}

h3{
    color: var(--cor-primaria);
    font-size: 28px;
    font-weight: bold;
}

.content-title{
    margin: 64px 0;
}

.content-list ol{
    margin: 0;
    padding: 0;
}

.content-img{
    border-radius: 28px;
    width: 1120px;
    height: 350px;
    margin-top: 48px;
}

.content-list-headline{
    color: var(--cor-primaria);
    font-size: 16px;
    font-weight: bold;
    margin: 16px 0 0 0;
}

.content-list ul{
    padding: 0px 0px 0px 20px;
}

.content-list-accent,
.content-list-accent2,
.content-list-accent3,
.content-list-accent4{
    margin: 0px;
    font-weight: bold;
}

.content-list-accent{
    color: var(--cor-accent-blue);
}

.content-list-accent2{
    color: var(--cor-accent-purple);
}

.content-list-accent3{
    color: var(--cor-accent-pink);
}

.content-list-accent4{
    color: var(--cor-accent-orange);
}

footer{
    font-family: "Alice", serif;
    color: var(--cor-primaria);
    text-align: center;
    margin: 40px 0;
    font-size: 16px;
    padding-top: 20px;
}

footer img{
    height: 12px;
    width: 14px;
}